@charset "utf-8";



#about_main{
  display: grid;
  grid-template-columns:repeat(5,1fr);
  grid-template-rows:repeat(7,1fr);
  padding: 0;
}
#about_main>div{
  border-radius: 15px; margin:20px;
}


#about_main .text_box{
  grid-column:1/4; grid-row:1/5;
  padding: 10px; 
}
#about_main .text_box p{
  font-size:18px;
  margin-bottom:20px; 
}
#about_main .text_box p span{
  font-weight: bold; font-size:20px;
  background:linear-gradient(to right, #FC354C, #0ABFBC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}


#about_main .profile{
  grid-column:1/4; grid-row:5/8;
  letter-spacing: 2px; padding:20px;
}
#about_main .profile .profile_title{
  text-transform:uppercase; font-family:'MabinogiClassicR',sans-serif;
  font-size:30px; margin-bottom:10px;
}

#about_main .profile .box{
  display: flex; flex-wrap: wrap; gap:10px 20px;
}
#about_main .profile .box p{
  display: block; width:240px; height: 30px;
  font-weight: bold;
  line-height: 30px;
  padding-left:40px;
  background:url('/public/img/icon/name-000.png') no-repeat left center;
  background-size:contain;
}

#about_main .profile .box .phone{
  background-image: url('/public/img/icon/phone-000.png');
}

#about_main .profile .box .birth{
  background-image: url('/public/img/icon/birth-000.png');
}

#about_main .profile .box .email{
  background-image: url('/public/img/icon/e-mail-000.png');
}






#about_main .img_box{
  grid-column:4/6; grid-row:1/8;
  overflow: hidden;
}

#about_main .img_box img{
  width: 100%; height: 100%;
  object-fit:cover;
}
